.sobreNosotros{
    text-decoration: none;
    font-size: 3vh;
    padding: 4rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    p{
    text-align: justify;
    }
    h2{
    padding-bottom: 3rem;
    text-align: left;
    }
    img{
    padding: 1rem;
    }
} 

